@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #212327;
}


body {
  height: 100vh;
  display: grid;
  grid-template:
    "header header  header  header" 1fr
    "nav    main    main    aside" 8fr
    "footer footer  footer  footer" 1fr /
    5fr 6fr 6fr 6fr;
  gap: 2%;
}

@media (max-width: 600px) {
    body {
        grid-template: 
        "header"
        "nav"
        "main"
        "aside"
        "footer"
        ;
    }
}

.header {
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.header__logo {
  height: 35px;
  margin: 0 auto;
}

.cabecera__elemento {
  text-decoration: none;
  font-weight: 900;
}

.cabecera__elemento:hover {
    transition-duration: 0.5s;
    color: #04bfad;
}

.nav {
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  text-align: center;
}

.tarjeta:hover {
    transition: 0.5s ease;
    transform: scale(0.9);
}

.main {
  border-radius: 20px;
  grid-area: main;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main__contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contenedor__titulo {
  font-size: 2em;
  text-align: center;
}

.contenedor__articulo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.articulo {
  width: 50%;
  margin: 2% 0;
  text-align: center;
}

@media (max-width: 800px) {
  .articulo {
    width: 100%;
  }
}

.articulo__listas {
  display: inline-block;
  height: 50px;
  list-style: none;
}

.articulo__titulo {
  font-size: 1.3em;
}

.articulo__img {
  height: 200px;
  float: left;
}

.conFooter__texto {
  text-align: center;
  font-size: 0.75rem;
}

.aside {
  border-radius: 20px;
  grid-area: aside;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tarjetaPaquete {
  border: 2px solid #f25c05;
  width: 180px;
  border-radius: 18px;
  text-align: center;
  margin: 2px auto;
}

.tarjetaPaquete:hover {
    transition-duration: 0.5s;
    transform: scale(0.9);
}

.tarjetaPaquete__cabecera {
  border-radius: 15px 15px 0 0;
  background-color: #f25c05;
}

.tarjetaPaquete__oferta {
  border: 1px solid #f25c05;
  width: 80%;
  margin: 5% auto;
  border-radius: 20px;
}

.tarjetaPaquete__boton {
  color: white;
  width: 90%;
  border-radius: 20px;
  background-color: #d90479;
  border: none;
  margin: 5px 0;
}

.Azul {
  background-color: #04bfad;
}
.BordeAzul {
  border: 2px solid #04bfad;
}

.Rosa {
  background-color: #d90479;
}
.BordeRosa {
  border: 2px solid #d90479;
}

.Amarillo {
  background-color: #f2b705;
}
.BordeAmarillo {
  border: 2px solid #f2b705;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  background-color: #212327;
  justify-content: space-between;
}

.footer__logo {
  height: 35px;
}

.footer__texto {
  font-weight: 600;
  color: #ffffff;
}
